<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Read | Write | Share</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.0.js" integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <!-- Bootstrap JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">	
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	
	<nav class=" navbar navbar-expand-md navbar-light bg-light mb-4">
	      <a class="navbar-brand" href="/">Brand</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarCollapse">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" {{#if username}} href="/userhome"{{else}} href= "/home"{{/if}}>Home <span class="sr-only">(current)</span></a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">About</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">Explore</a>
	          </li>
	        </ul>
			<ul class="navbar-nav ml-auto">
			 <li class="nav-item">

				    {{#if username}}
              <li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/userhome" role="button" aria-haspopup="true" aria-expanded="false">My Account({{username}})</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">My Articles</a>
									<a class="dropdown-item" href="/userhome/usersarticles/add">Add Articles</a>
									<a class="dropdown-item" href="#">My Comments</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/userhome/users/edit/{{username}}">Edit Account Details</a>
									<a class="dropdown-item" href="/userhome/users/delete/{{username}}">Delete Account</a>
								</div>

								</li>
              <li><a  class="nav-link" href="/logout"> Logout</a></li>
              {{else}}
              <li><a class="nav-link" href="/login">Login</a></li>
							<a class="btn btn-outline-success my-2 my-sm-0" href="/register" role="button">Register</a>
            {{/if}}
	            {{!-- <a class="nav-link" href="/login">Log In</a> --}}
	          </li>
			</ul>
	
			
		
	      </div>
	    </nav>
			
	{{{body}}}
	
</body>
</html>
