<div class="container space">
	<form method="POST" action="/userhome/usersarticles/add">
		<div class="form-group">
			<label class="col-form-label" for="titleId">Title</label>
			<input type="text" class="form-control" id="titleId" name="title" placeholder="Article Title">
		</div>

		{{!--
		<div class="form-group">
			<label class="col-form-label" for="author">Author</label>
			<input type="text" class="form-control" id="author" name="author" placeholder="Author's Name">
		</div>--}}

		<div class="form-group">
			<label for="content-area"></label>
			<textarea class="form-control" id="content-area" name="content" rows="3" placeholder="Write your story..."></textarea>
		</div>

		<button type="submit" class="btn btn-outline-success">Publish</button>
	</form>
</div>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
	tinymce.init({
		selector: 'textarea',
		plugins: ['link', 'autosave', 'autolink'],
		mobile: { theme: 'mobile', plugins: ['list', 'autosave', 'autolink'] }
	});
</script>