<div class="container space">
<h2>Edit Article</h2>
<form method="POST" action="/userhome/usersarticles/edit/{{id}}">
	<div class="form-group">
	    <label class="col-form-label" for="titleId">Title</label>
	    <input type="text" class="form-control" id="titleId" name="title" value="{{title}}">
	  </div>

	<div class="form-group">
	    <label for="content-area"></label>
	    <textarea class="form-control" id="content-area" name="content" rows="20">{{{content}}}</textarea>
	  </div>
	
	<button type="submit" class="btn btn-outline-success">Publish</button>
</form>
</div>