<div class="container space">
	<div class="card">
	<div class="card-body">
		<h3 class="card-title">Create an account</h3>
		<form method="POST" action="/userhome/users/edit/{{username}}">
			<div class="form-group">
			    <label class="col-form-label" for="fname">First Name</label>
			    <input type="text" class="form-control" id="fname" name="fname" value = {{fname}} required>
			  </div>
			
			<div class="form-group">
			    <label class="col-form-label" for="lname">Last Name</label>
			    <input type="text" class="form-control" id="lname" name="lname" value={{lname}} required>
			  </div>
			
			<div class="form-group">
			    <label class="col-form-label" for="username">Username</label>
			    <input type="text" class="form-control" id="username" name="username" value={{username}} required>
			  </div>
			
			<div class="form-group">
			    <label class="col-form-label" for="pswd">Password</label>
			    <input type="password" class="form-control" id="pswd" name="password" value={{password}} required>
			  </div>
			
			{{!--<div class="form-group">
			    <label class="col-form-label" for="pswd">Confirm Password</label>
			    <input type="password" class="form-control" id="pswd" name="password2" placeholder="Please enter a password" required>
			  </div>--}}

			<div class="form-group">
			    <label class="col-form-label" for="dob">Date of Birth</label>
			    <input type="date" class="form-control" id="dob" name="dob" value={{dob}}>
			  </div>
			
			<div class="form-group">
			    <label class="col-form-label" for="country">Country</label>
			    <input type="text" class="form-control" id="country" name="country" list="countries" value={{country}} >
			
				<datalist id="countries">
					<option value="New Zealand" />
					<option value="Australia" />
					<option value="United States of America" />
					<option value="Canada" />
					<option value="England" />
					<option value="Norway" />
				</datalist>
			  </div>

			<div class="form-group">
			    <label for="description">Description</label>
			    <textarea class="form-control" id="description" name="description" rows="3" >{{description}}</textarea>
			  </div>

			<button type="submit" class="btn btn-outline-success">Update Details</button>
		</form>
		<small class="card-text text-muted">Already have an account? <a href="/login">Log in</a> here.</small>
	</div> {{!card-body}}
	</div> {{! card div}}
</div>