<div class="container space">
	<div class="card">
	<div class="card-body">
		<h3 class="card-title">Log In</h3>
		<form method="POST" action="/login">
		  {{#if loginFail}}
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p>You could not be logged in with that username or password.</p>
        </div>
      {{/if}}
			
			<div class="form-group">
			    <label class="col-form-label" for="username">Username</label>
			    <input type="text" class="form-control" id="username" name="username" placeholder="Username eg. janedoe123" required>
			  </div>
			
			<div class="form-group">
			    <label class="col-form-label" for="pswd">Password</label>
			    <input type="password" class="form-control" id="pswd" name="password" placeholder="Please enter a password" required>
			  </div>
			
			<button type="submit" class="btn btn-outline-success">Log In</button>
		</form>
		<small class="card-text text-muted">Don't have an account? <a href="/register">Register an account</a> here.</small>
	</div> {{!card-body}}
	</div> {{! card div}}
</div>
