<div class="container space">
	<div class="card">
		<div class="card-body">
			<h3 class="card-title">Create an account</h3>
			<form method="POST" action="/register" enctype="multipart/form-data">
				<div class="form-group">
					<label class="col-form-label" for="fname">First Name</label>
					<input type="text" class="form-control" id="fname" name="fname" placeholder="Your First Name" required>
				</div>

				<div class="form-group">
					<label class="col-form-label" for="lname">Last Name</label>
					<input type="text" class="form-control" id="lname" name="lname" placeholder="Your Last Name" required>
				</div>

				<div class="form-group">
					<label class="col-form-label" for="username">Username</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Username eg. janedoe123" required>
				</div>

				<div class="form-group">
					<label class="col-form-label" for="pswd">Password</label>
					<input type="password" class="form-control" id="pswd" name="password" placeholder="Please enter a password" required>
				</div>

				{{!--
				<div class="form-group">
					<label class="col-form-label" for="pswd">Confirm Password</label>
					<input type="password" class="form-control" id="pswd" name="password2" placeholder="Please enter a password" required>
				</div>--}}

				<div class="form-group">
					<label class="col-form-label" for="dob">Date of Birth</label>
					<input type="date" class="form-control" id="dob" name="dob">
				</div>

				<div class="form-group">
					<label class="col-form-label" for="country">Country</label>
					<input type="text" class="form-control" id="country" name="country" list="countries">

					<datalist id="countries">
						<option value="New Zealand" />
						<option value="Australia" />
						<option value="United States of America" />
						<option value="Canada" />
						<option value="England" />
						<option value="Norway" />
					</datalist>
				</div>

				<div class="form-group">
					<label for="descrip">Description</label>
					<textarea class="form-control" id="descrip" name="description" rows="3" placeholder="Tell us a little about yourself..."></textarea>
				</div>
				<fieldset>
					<p>Select an avatar from below</p>

					<div class="form-group">

						<label class="radio-inline">
							<input type="radio" name="profile_pic" value="/avatars/female1.png">
							<img src='/avatars/female1.png' width="35px">
						</label>

						<label class="radio-inline">
							<input type="radio" name="profile_pic" value="/avatars/female2.png">
							<img src='/avatars/female2.png' width="35px">
						</label>


						<label class="radio-inline">
							<input type="radio" name="profile_pic" value="/avatars/female3.png">
							<img src='/avatars/female3.png' width="35px">
						</label>

						<label class="radio-inline">
							<input type="radio" name="profile_pic" value="/avatars/male1.png">
							<img src='/avatars/male1.png' width="35px">
						</label>

						<label class="radio-inline">
							<input type="radio" name="profile_pic" value="/avatars/male2.png">
							<img src='/avatars/male2.png' width="35px">
						</label>

						<label class="radio-inline">
							<input type="radio" name="profile_pic" value="/avatars/male3.png">
							<img src='/avatars/male3.png' width="35px">
						</label>
					</div>

					<div class="form-group">
						<label for="exampleInputFile">Or upload your own </label>
						<input type="file" name='fileUpload' class="form-control-file" id="fileUpload" area-describedby="fileHelp" accept='.jpg,.jpeg,.png,.gif'>
						<small id="fileHelp" class="form-text text-muted">Only JPG, JPEG, PNG and GIF images can be uploaded</small>
					</div>

				</fieldset>
				<button type="submit" class="btn btn-outline-success">Create Account</button>
			</form>
			<small class="card-text text-muted">Already have an account?
				<a href="/login">Log in</a> here.</small>
		</div> {{!card-body}}
	</div> {{! card div}}
</div>