<div class="container space">
  {{! author section }} {{! if user is logged in and the author of the article then show this}}
  <a role="button" href="/userhome/usersarticles/edit/{{id}}">
    <i class="material-icons">mode_edit</i>
  </a>
  <a role="button" href="/userhome/usersarticles/delete/{{id}}">
    <i class="material-icons">delete</i>
  </a>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{title}}</h3>
      <p class="card-text">{{content}}</p>
    </div> {{!card body}}
    <div class="card-footer">
      <div class="media mb-4">
        <img class="mr-3 rounded-circle" src="{{profile_pic}}" alt="Generic placeholder image">
        <div class="media-body">
          <small class="mt-0"> {{fname}} {{lname}} </small>
          <br>
          <small class="text-muted">{{pub_date}}</small>
        </div>
        <i class="material-icons left">chat_bubble_outline</i>
      </div>
    </div>
  </div> {{!card div}}
  <hr>

  <div id="leave-comment">
    <form method="POST" action="/userhome/usersarticles/{{id}}">
      <div class="form-group">
        <label for="response">Comments
          <i class="material-icons">chat_bubble_outline</i>
        </label>
        <textarea class="form-control" id="response" name="comment" placeholder="Leave a comment!" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-info float-right">Send</button>
    </form>
  </div>

  {{comment}}

</div> {{! container div}}