<div class="container">
	<h3 class="display-5">Featured Articles</h3>
	<div class="row">
		{{#each articles}}
		<div class="col-md-6 col-lg-3">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">{{title}}</h3>
					<p class="card-text">{{content}}</p>
					<a href="/articles/{{id}}">Read More</a>
				</div> {{!card body}}
				<div class="card-footer">
					<div class="media mb-4">
						<img class="mr-3 rounded-circle" src="{{profile_pic}}" alt="Generic placeholder image">
						<div class="media-body">
							<small class="mt-0"> {{fname}} {{lname}} </small>
							<br>
							<small class="text-muted">{{pub_date}}</small>
						</div>
						<i class="material-icons left">chat_bubble_outline</i>
					</div>
				</div>
			</div> {{!card div}}
		</div>
		{{/each}}
	</div>
</div>