body {
	background: #fff;
}
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fbfbfb;
}

.jumbotron .container {
  max-width: 33rem;
}

.space {
	margin-top: 6rem;
}

.navbar {
	background: rgba(248, 249, 250, 0.9) !important;
}